@model List<LTW_Ban_Sach.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div style="margin-top: 80px; margin-bottom: 20px;" class="p-3">
    <h2>Giỏ hàng</h2>
    <table class="table">
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Tên sách
            </th>
            <th>Số lượng</th>
            <th>
                Đơn giá
            </th>
        </tr>
        @foreach (var cart in Model)
        {
            <tr>
                <td><img src="~/Content/Image/@cart.Book.mainImage" style="width: 100px;" /></td>
                <td>@cart.Book.BookName</td>
                <td>@cart.Quantity</td>
                <td>@cart.Book.Price</td>
            </tr>

        }
    </table>
</div>

